@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");
:root {
  --main-bg-color: #ffffff;
  --main-color: rgb(0, 0, 0);
  --hover-color: rgb(159, 157, 240);
  --nav-bg-color: #ffffff;
}

/*
    var(--main-bg-color)
    var(--main-color)
    var(--hover-color)
    var(--nav-bg-color)
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
button {
  background-color: var(--main-bg-color);
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.copyright {
  margin: 40px 0;
  display: flex;
  justify-content: center;
  width: 100%;
  color: var(--main-color);
}
.copyright a {
  color: var(--main-color);
  text-decoration: none;
}
.copyright a:hover {
  color: var(--hover-color);
}

.navbar {
  position: fixed;
  color: var(--main-color);
  left: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: 0.3s;
}
.navbar__logo {
  margin-bottom: 20px;
}
.navbar__logo img {
  height: 180px;
  width: 200px;
  border-radius: 10px;
}
.navbar__burger {
  display: inline-block;
  cursor: pointer;
  padding: 13px;
}
.navbar__burger .bar1,
.navbar__burger .bar2,
.navbar__burger .bar3 {
  width: 40px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #a8a8a8;
  margin: 6px 0;
  transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}
.navbar__burger:hover .bar1 {
  transform: translate(0, -6px);
}
.navbar__burger:hover .bar3 {
  transform: translate(0, 6px);
}
.navbar__burger.change .bar1 {
  transform: rotate(-45deg) translate(-8px, 6px);
}
.navbar__burger.change .bar2 {
  transform: translateX(-20px);
  opacity: 0;
}
.navbar__burger.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}
.navbar__burger.change:hover .bar1 {
  transform: rotate(-45deg) translate(-8px, 6px) scale(1.2);
}
.navbar__burger.change:hover .bar3 {
  transform: rotate(45deg) translate(-8px, -8px) scale(1.2);
}

.navbar--shadow {
  box-shadow: 0px -29px 46px 6px #888888;
  background-color: #f1f1f0;
}

.site-menu {
  position: fixed;
  color: var(--main-color);
  left: 0;
  top: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--nav-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.3s;
  transform: translateX(0%);
  left: -100%;
  opacity: 0;
}
.site-menu__link {
  font-size: 40px;
  margin: 10px;
  color: var(--main-color);
  transform: translateX(-20px);
  opacity: 0;
}
.site-menu__link.site-menu__link--first {
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s, color 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
}
.site-menu__link.site-menu__link--second {
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.1s, color 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
}
.site-menu__link:hover {
  color: var(--hover-color);
}
.site-menu.shown {
  opacity: 1;
  pointer-events: all;
  transition: 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transform: translateX(100%);
}
.site-menu.shown .site-menu__link {
  transform: translateX(0);
  opacity: 1;
}
.site-menu.shown .site-menu__link.site-menu__link--first {
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.7s, color 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
}
.site-menu.shown .site-menu__link.site-menu__link--second {
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.6s, color 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
}

.header__wrapper {
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  background: #000000;
}

.header {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 100%;
  margin: 0 auto;
  text-align: left;
  color: white;
}
.header h1 {
  font-size: 72px;
  margin-bottom: 10px;
}
.header__left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header__left .header__content {
  margin-bottom: 130px;
}
.header__right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header__right .hero__row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
}
.header__right .hero__row .hero__element {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 33.3%;
}
.header__right .hero__row .hero__element .element__paragraph {
  padding-top: 8px;
  color: #a8a8a8;
  font-size: 18px;
}
.header__fist {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 6px;
}
.header__second {
  font-size: 36px;
  color: #a8a8a8;
  font-weight: bold;
}
.header .header__third {
  margin-top: 10px;
  font-size: 20px;
  color: rgb(214, 241, 78);
  font-weight: lighter;
  white-space: nowrap;
  overflow: hidden;
  animation: typings 5s steps(40) forwards; /* Adjust timing as needed */
}
#jsContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  text-align: center;
  font-size: 24px;
}
#jsContainer .container__item {
  max-width: 500px;
  max-height: 250px;
  height: 110vmin;
  width: calc(50% - 20px);
  margin: 10px;
  position: relative;
}
#jsContainer .container__item img {
  border-radius: 20px;
  object-fit: cover;
}
#jsContainer .container__item a,
#jsContainer .container__item .info__icon {
  text-decoration: none;
  color: var(--main-color);
  display: inline;
  font-weight: bold;
  cursor: pointer;
}
#jsContainer .container__item i:hover,
#jsContainer .container__item .more-info-title {
  color: var(--hover-color);
}
#jsContainer .container__item .container h1 {
  display: block;
}
#jsContainer .container__item .more-info {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  max-width: 100%;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  flex-direction: column;
  transform: translate(0);
  background: var(--main-bg-color);
  color: var(--main-color);
  padding: 20px;
  transition: 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  pointer-events: all;
}
#jsContainer .container__item .more-info .more-info__close,
#jsContainer .container__item .more-info .more-info__header,
#jsContainer .container__item .more-info .more-info__text,
#jsContainer .container__item .more-info .more-info__demo,
#jsContainer .container__item .more-info .more-info-github,
#jsContainer .container__item .more-info .more-info-photo-desc {
  transform: translateX(0px);
  opacity: 1;
}
#jsContainer .container__item .more-info .more-info__close {
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.3s;
}
#jsContainer .container__item .more-info .more-info__header {
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.4s;
}
#jsContainer .container__item .more-info .more-info__text {
  margin: 25px;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}
#jsContainer .container__item .more-info .more-info__demo {
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.6s;
}
#jsContainer .container__item .more-info .more-info-github {
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.7s;
}
#jsContainer .container__item .more-info .more-info-photo-desc {
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
}
#jsContainer .container__item .more-info--hidden {
  transform: translate(-100vw);
  pointer-events: none;
  transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.9s;
}
#jsContainer .container__item .more-info--hidden .more-info__close,
#jsContainer .container__item .more-info--hidden .more-info__header,
#jsContainer .container__item .more-info--hidden .more-info__text,
#jsContainer .container__item .more-info--hidden .more-info__demo,
#jsContainer .container__item .more-info--hidden .more-info-github,
#jsContainer .container__item .more-info--hidden .more-info-photo-desc {
  transform: translateX(-20px);
  opacity: 0;
}
#jsContainer .container__item .more-info--hidden .more-info__close {
  transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.1s;
}
#jsContainer .container__item .more-info--hidden .more-info__header {
  transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.2s;
}
#jsContainer .container__item .more-info--hidden .more-info__text {
  transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.3s;
}
#jsContainer .container__item .more-info--hidden .more-info__demo {
  transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.4s;
}
#jsContainer .container__item .more-info--hidden .more-info-github {
  transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}
#jsContainer .container__item .more-info--hidden .more-info-photo-desc {
  transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.6s;
}
#jsContainer .container__item .more-info__close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 15px;
  color: var(--main-color);
  font-weight: bold;
  cursor: pointer;
}
#jsContainer .container__item .more-info__close:hover {
  opacity: 0.8;
}
#jsContainer .container__item .more-info__header {
  text-align: center;
  margin-bottom: 20px;
}
#jsContainer .container__item .more-info-photo {
  width: 100%;
  cursor: pointer;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 2;
}
#jsContainer .container__item .more-info-photo-title {
  opacity: 0;
  position: absolute;
  z-index: 5;
  top: 20%;
  left: 50%;
  transform: translateX(-50%) translateY(-46px);
  color: white;
  text-shadow: 1px 1px 4px #474747;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}
@media (max-width: 700px) {
  #jsContainer .container__item .more-info-photo-title {
    display: none;
  }
}
#jsContainer .container__item .more-info-photo-title2 {
  opacity: 0;
  position: absolute;
  z-index: 5;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%) translateY(46px);
  color: white;
  text-shadow: 1px 1px 4px #474747;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}
@media (max-width: 700px) {
  #jsContainer .container__item .more-info-photo-title2 {
    display: none;
  }
}
#jsContainer .container__item .more-info-photo-background {
  background-color: var(--hover-color);
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 4;
  transition: 0.5s ease;
}
#jsContainer .container__item .more-info-photo-desc {
  width: 100vmin;
  align-self: center;
}
#jsContainer .container__item:hover .more-info-photo-title {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}
#jsContainer .container__item:hover .more-info-photo-title2 {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}
#jsContainer .container__item:hover .more-info-photo-background {
  opacity: 0.7;
  cursor: pointer;
}

.portfolio__container {
  background-color: #fcfcfc;
  margin: 35px 0;
  padding: 20px 0;
}

#skills {
  display: flex;
  justify-content: center;
  max-width: 700px;
  width: 100%;
  margin: 20px auto;
  flex-wrap: wrap;
}
#skills .skill__button {
  transition: 0.3s ease;
  padding: 10px;
  padding: 10px;
  margin: 5px;
  background: transparent;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  font-family: "PT Sans", sans-serif;
}
#skills .skill__button:hover {
  color: white;
  background: var(--hover-color);
  cursor: pointer;
}
#skills .skill__button:focus {
  outline: none;
}
#skills .skill__button--active {
  color: white;
  background: var(--hover-color);
}

.navbar__logo a {
  color: var(--main-color);
  text-decoration: none;
}

@media (max-width: 1100px) {
  .navbar__burger {
    transform: scale(0.7);
  }
  .navbar__logo {
    font-size: 16px;
  }
  .container {
    font-size: 16px;
  }
}
@media (max-width: 700px) {
  .navbar__burger {
    transform: scale(0.5);
  }
  .navbar__logo {
    font-size: 11px;
  }
  .container {
    font-size: 11px;
  }
  .header {
    text-align: center;
  }
  .header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  .header__fist {
    font-size: 1.5em;
  }
  .header__second {
    font-size: 1.2em;
  }
  .header__right {
    display: none;
  }
  .header__left {
    width: 100%;
  }
}
.preloader {
  top: 0;
  opacity: 1;
  position: fixed;
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  flex-direction: column;
  transition: opacity 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  z-index: 20000;
}

.preloader-finish {
  opacity: 0;
  pointer-events: none;
}

.loader {
  z-index: 3;
}
.loader img {
  width: 100px;
  height: 100px;
}

.none {
  display: none;
}

.post {
  margin-top: 90px;
  min-height: calc(var(--vh, 1vh) * 100 - 190px);
}
.post__header {
  padding: 60px;
  text-align: center;
}
.post__content {
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
}
.post__content p,
.post__content ol {
  padding: 16px 0;
}
.post__content h3 {
  padding: 16px 0 8px;
}
.post__content li {
  padding: 8px 0;
  margin-left: 16px;
}
.post__content li a {
  color: var(--main-color);
  text-decoration: none;
}
.post__content li .post__link {
  color: var(--hover-color);
}

.blog__posts {
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.blog__posts h3 {
  text-align: center;
}
.blog__posts a {
  margin: 8px 0;
  text-align: center;
  text-transform: capitalize;
}

/*# sourceMappingURL=main.css.map */
